---
layout: wrap
title: À propos
permalink: /apropos/
---

<div class="container mtb">
    <div class="row">
        <!--<div class="col-lg-4">
            <img class="img-responsive" src="{{ "/assets/img/about.jpg" | prepend: site.baseurl }}" alt="">
        </div>-->
        <div class="col-lg-12">
             <img src="https://live.staticflickr.com/65535/30200526386_ffa767087c_b.jpg" alt="Claude Kaufholtz-Couture dans la nature" />
            <p>{{ site.description | newline_to_br }}</p>
        </div>
    </div><!--/row -->
</div><!--/container -->

<div class="container mtb">
    <div class="row centered">
        <h3 class="mb">AUTEUR</h3>
    </div><!--/row -->

    {% for member in site.members %}
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-5">
            <img src="{{ member.img }}" alt="{{ member.name }}">
            <div>
            {% for entry in member.social %}
                <a href="{{ entry.url }}" class="dmbutton a2"><i class="fa fa-{{ entry.title }}"></i></a>
            {% endfor %}
            </div>
        </div><!--/col-lg-3 -->
        <div class="col-lg-9 col-md-8 col-sm-7">
            <h4>{{ member.name }}</h4>
            <h5 class="ctitle">{{ member.position }}</h5>
            <p>{{ member.text | newline_to_br }}</p>
        </div><!--/col-lg-3 -->
    </div><!--/row -->
    {% endfor %}
</div><!--/container -->
