---
title: Champignons
permalink: "/champignons/"
layout: wrap
---

<script>
    function hideAllChampignons() {
        $('#search-results').html("");
    }

    function showResults(results, facets) {
        var resultCountDiv = $('<h3>');
        resultCountDiv.text(results.length + " champignons trouvés");
        $('#search-results').append(resultCountDiv);

        for (var i = 0; i < results.length; ++i) {
            var result = results[i];
            if (!result) {
                continue;
            }
            var doc = champignons[(result.ref * 1) - 1];
            if (!doc) {
                continue;
            }

            var searchResultDiv = $('<h4>');
            search
            var searchResultLink = $('<a>');
            searchResultLink.html("<i>" + doc.nom + "</i>");
            searchResultLink.attr('href', doc.url);
            searchResultDiv.append(searchResultLink);

            $('#search-results').append(searchResultDiv);
        }

        for (var i = 0; i < facets.length; ++i) {
            var facetResult = facets[i];
            var facet = searchHandler.facets[facetResult.field];
            var facetSelectElement = $('#' + facetResult.field);
            facetSelectElement.html('');

            var option = $('<option>');
            option.attr('value', 'tous');
            option.text('Tous');
            facetSelectElement.append(option);

            for (var j = 0; j < facetResult.results.length; ++j) {
                var item = facetResult.results[j]
                option = $('<option>');
                option.attr('value', item.value);
                if (item.value === facet.selectedValue) {
                    option.attr('selected', 'selected');
                }
                option.text(item.value + " (" + item.count + ")");
                facetSelectElement.append(option);
            }
        }
    }

    function onSearchBoxKeyUp(event) {
        if (event.keyCode == 13) {
            search();
        }
    }

    function onFacetSelectionChange(event) {
        var dropdown = event.target;
        var champ = dropdown.id;
        var selectedValue = dropdown.selectedOptions[0].value;
        var facet = searchHandler.facets[champ];

        if (selectedValue === "tous") {
            facet.selectedValue = undefined;
        } else {
            facet.selectedValue = selectedValue;
        }

        search();
    }

    function search() {
        var searchbox = $('#searchbox')[0];
        if (searchbox) {
            searchHandler.query = searchbox.value;
        }

        searchHandler.filters = {};

        var attributeSelectorElements = $('.attributeSelector');
        var attributeKeywordsElements = $('.attributeKeywords');
        for (var i = 0; i < attributeSelectorElements.length; ++i) {
            var attributeSelectorElement = attributeSelectorElements[i];
            var attributeKeywordsElement = attributeKeywordsElements[i];

            if (attributeKeywordsElement.value) {
                searchHandler.filters[attributeSelectorElement.selectedOptions[0].value] = attributeKeywordsElement.value;
            }
        }

        searchHandler.search();
    }

    function appendAttributeSelector() {
        var rowDiv = $('<div>');
        rowDiv.attr('class', 'row form-group');

        var attributeSelectorDiv = $('<div>');
        attributeSelectorDiv.attr('class', 'col-lg-5 col-md-6 col-sm-12');

        var attributeSelector = $('<select>');
        attributeSelector.attr('class', 'attributeSelector form-control');
        for (var i = 0; i < champsChampignons.length; ++i) {
            var champ = champsChampignons[i];
            option = $('<option>');
            option.attr('value', champ.name);
            option.text(champ.label);
            attributeSelector.append(option);
        }
        attributeSelectorDiv.append(attributeSelector);
        rowDiv.append(attributeSelectorDiv);

        var attributeKeywordsDiv = $('<div>');
        attributeKeywordsDiv.attr('class', 'col-lg-7 col-md-6 col-sm-12');

        var attributeKeywordsElement = $('<input>');
        attributeKeywordsElement.attr('type', 'text');
        attributeKeywordsElement.attr('class', 'attributeKeywords form-control');
        attributeKeywordsDiv.append(attributeKeywordsElement);
        rowDiv.append(attributeKeywordsDiv);

        var attributeSelectors = $('#attributeSelectors');
        attributeSelectors.append(rowDiv);
    }
</script>

<div class="container mtb">
    <div class="row">
        <div class="col-lg-12">
            <form id="searchform" onsubmit="return false">
                <div class="form-horizontal">
                    {% for champ in site.champs-details %}
                        {% if champ.search == "facet" %}
                        <div class="form-group">
                            <label for="{{ champ.name | replace: "-", "_" }}" class="col-sm-2 control-label">{{ champ.label }}</label>
                            <div class="col-sm-9">
                                <select name="{{ champ.name | replace: "-", "_" }}" id="{{ champ.name | replace: "-", "_" }}" class="form-control" onchange="onFacetSelectionChange(event)"></select>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Attributs</label>
                        <div class="col-sm-9">
                            <div id="attributeSelectors"></div>
                            <div>
                                <button class="btn btn-default" onclick="appendAttributeSelector()">Ajouter un attribut</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="searchbox" class="col-sm-2 control-label">Global</label>
                        <div class="col-sm-9">
                            <input id="searchbox" name="searchbox" type="text" class="form-control" placeholder="Mots clés généraux..." onkeyup="onSearchBoxKeyUp(event)" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-9">
                            <button class="btn btn-default btn-lg btn-block" onclick="search()">Rechercher</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row">
                <div id="search-results" class="col-sm-offset-2 col-sm-10"></div>
            </div>
        </div>
    </div><!--/row -->
</div><!--/container -->

<script src="{{ "/assets/js/elasticlunr.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/lunr.stemmer.support.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/lunr.fr.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/searchHandler.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/champignons.js" | prepend: site.baseurl }}"></script>
<script>
    function onDomReady() {
        searchHandler.index = indexChampignons;
        searchHandler.allResults = champignons;
        searchHandler.showResults = showResults;
        searchHandler.hideAllResults = hideAllChampignons;
        searchHandler.facets = facetsChampignons;
        searchHandler.initialize("");
        appendAttributeSelector();
    }
</script>