---
layout: wrap
title: Champignons
permalink: /champignons/
---

<script>
    function filterChampignons(lettre, classe) {
        toggleLettreSelected(lettre);
        $('.lettre').hide();
        $(classe).show();
    }

    function showAllChampignons() {
        toggleLettreSelected($('.lettre-tous')[0]);
        $('.lettre').show();
    }

    function hideAllChampignons() {
        toggleLettreSelected($('.lettre-tous')[0]);
        $('.lettre').hide();
    }

    function showResults(results) {
        for (var i = 0; i < results.length; ++i) {
            var result = results[i];
            $('.index' + result.ref).show();
            $('.lettre-entete.lettre' + indexChampignons.documentStore.getDoc(result.ref).nom[0].toLowerCase()).show();
        }
    }

    function toggleLettreSelected(lettre) {
        $('.lettre-selected').removeClass('lettre-selected');
        $(lettre).addClass('lettre-selected');
    }

    function onSearchBoxKeyUp(e) {
        if (e.keyCode == 13) {
            var searchbox = e.eventTarget;
            search(searchbox);
        }
    }

    function onSearchButtonClick() {
        var searchbox = $('#searchbox');
        if (searchbox) {
            search(searchbox[0]);
        }
    }

    function search(searchbox) {
        if (searchbox) {
            searchHandler.query = searchbox.value;
            searchHandler.search();
        }
    }

    function onFacetSelection(element, facetField) {
        var selectedValue = element.innerText;
        var facetElement = $(element.parentElement.parentElement);
        var facetValuesElement = facetElement.find('.facetValues');
        facetValuesElement.hide();
        var facetSelectedValueElement = facetElement.find('.facetSelectedValue');
        facetSelectedValueElement.text(selectedValue);

        searchHandler.addFacetSelection(facetField, selectedValue);
        searchHandler.search();
    }

    function onClearFacetSelection(element, facetField) {
        var facetElement = $(element.parentElement);
        var facetSelectedValueElement = facetElement.find('.facetSelectedValue');
        facetSelectedValueElement.text("");
        var facetValuesElement = facetElement.find('.facetValues');
        facetValuesElement.show();

        searchHandler.clearFacetSelection(facetField);
        searchHandler.search();
    }
</script>

<div class="container mtb">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <a class="lien-lettre lettre-selected lettre-tous" onclick="showAllChampignons()">TOUS</a>
                {% assign alphabet = "a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z" | split:',' %}
                {% for lettre in alphabet %}
                    <a class="lien-lettre" onclick="filterChampignons(this, '.lettre{{ lettre }}')">{{ lettre | capitalize }}</a>
                {% endfor %}
            </div>

            <form id="searchform" onsubmit="return false">
                <input id="searchbox" type="text" placeholder="Recherche..." onkeyup="onSearchBoxKeyUp(event)" />
                <button id="searchbutton" value="Rechercher" onclick="onSearchButtonClick()">Rechercher</button>
            </form>

            <div id="facets" class="facets" style="float:left; width:200px;">
<!--
                    {% for champ in site.champs-details %}
                    {% if champ.search == "facet" %}
                        <div class="facet">
                            <div class="facetName">{{ champ.label }}</div>
                            <a class="facetSelectedValue" href="#" onclick="onClearFacetSelection(this, '{{ champ.name | replace: "-", "_" }}')"></a>
                            <div class="facetValues">
                                {% capture allFacetValues %}{% for champignon in site.champignons %}{{ champignon.details[champ.name] }}|{% endfor %}{% endcapture %}
                                {% assign facetValues = allFacetValues | split: "|" | uniq | sort %}
                                {% for facetValue in facetValues %}
                                    <a class="facetValue" href="#" onclick="onFacetSelection(this, '{{ champ.name | replace: "-", "_" }}')">{{ facetValue }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
-->
            </div>

            <table>
            {% assign champignonsTries = (site.champignons | sort: 'nom') %}
            {% assign lettreCourrante = '' %}
            {% for champignon in champignonsTries %}
                {% assign lettreChampignon = champignon.nom | downcase | slice:0 %}
                {% if lettreCourrante != lettreChampignon %}
                    {% assign lettreCourrante = lettreChampignon %}
                    <tr class="lettre lettre{{ lettreCourrante }} lettre-entete">
                        <td>
                            {{ lettreCourrante | capitalize }}
                        </td>
                    </tr>
                {% endif %}
                <tr class="lettre lettre{{ lettreChampignon }} index{{ forloop.index }}">
                    <td>
                        <a href="{{ champignon.url | prepend: site.baseurl }}">
                            <i>{{ champignon.nom }}</i>
                        </a>
                    <td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div><!--/row -->
</div><!--/container -->

<script src="{{ "/assets/js/elasticlunr.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/lunr.stemmer.support.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/lunr.fr.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/searchHandler.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/champignons.js" | prepend: site.baseurl }}"></script>
<script>
    function onDomReady() {
        searchHandler.index = indexChampignons;
        searchHandler.allResults = champignons;
        searchHandler.showResults = showResults;
        searchHandler.hideAllResults = hideAllChampignons;
        searchHandler.showAllResults = showAllChampignons;
        searchHandler.facetsContainer = $($('#facets')[0]);
        searchHandler.facets = facetsChampignons;
        searchHandler.initialize();
    }
</script>