---
title: Clés
permalink: "/cles/"
layout: wrap
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-12">
            {% assign clesParFamille = site.cles | sort: 'famille' %}
            {% assign clesParNom = site.cles | sort: 'nom' %}
            {% assign familles = clesParFamille | map: 'famille' | uniq %}
            <ul class="cle-familles">
            {% for famille in familles %}
                <li class="cle-famille">{{ famille }}</li>
                {% assign hasCleSansGenre = false %}
                {% capture allGenres %}{% for cle in clesParFamille %}{% if cle.famille == famille %}{% if cle.genre %}{{ cle.genre }}|{% else %}{% assign hasCleSansGenre = true %}{% endif %}{% endif %}{% endfor %}{% endcapture %}

                {% if hasCleSansGenre %}
                <li>
                    <ul class="cles">
                        {% for cle in clesParNom %}
                            {% if cle.famille == famille %}
                                {% if cle.genre %}
                                {% else %}
                                    <li class="cle">
                                        <a href="{{ cle.url | prepend: site.baseurl }}">
                                            {{ cle.nom }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}

                {% assign genres = allGenres | split: '|' | uniq | sort %}
                {% assign nombreGenres = genres | size %}
                {% if nombreGenres > 0 %}
                <li>
                    <ul class="cle-genres">
                    {% for genre in genres %}
                        <li class="cle-genre">{{ genre }}</li>
                        <li>
                            <ul class="cles">
                                {% for cle in clesParNom %}
                                    {% if cle.famille == famille and cle.genre == genre %}
                                        <li class="cle">
                                            <a href="{{ cle.url | prepend: site.baseurl }}">
                                                {{ cle.nom }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div><!--/row -->
</div><!--/container -->