<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Travail mycologique de Claude Kaufholtz-Couture</h3>
                <blockquote>
                    Si tu ignores les noms, meme la connaissance des choses disparait.
                    <footer>Carl von Linn&#233;</footer>
                </blockquote>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
