<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>&#201tudes mycologiques et micrographiques des champignons du Qu&#233bec par Claude Kaufholtz-Couture</h3>
                <blockquote>
                    Si tu ignores les noms, m&#234;me la connaissance des choses disparait.
                    <footer>Carl von Linn&#233 (1707-1778)</footer>
                </blockquote>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
