---
layout: default
---

{% capture customTitle %}<i>{{ page.nom }}</i>{% if page.details.nom-francais %} / {{ page.details.nom-francais }}{% endif %}{% endcapture %}
{% include wrap.html wrap_title=customTitle %}

<div class="container mt">
    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-6">
            {% if page.image %}
                {% if page.image-originale %}
                    <a href="{{ page.image-originale }}">
                {% endif %}
                <img src="{{ page.image }}" />
                {% if page.image-originale %}
                    </a>
                {% endif %}
                <div class="spacing"></div>
            {% endif %}

            <h4>Détails</h4>
            <div class="hline"></div>

            {% for champ in site.champs-details %}
                {% assign valeurChamp = page.details[champ.name] %}
                {% if valeurChamp %}
                    <p>
                        <b>{{ champ.label }} :</b> {{ valeurChamp }}
                    </p>
                {% endif %}
            {% endfor %}

            <p><b>Auteur :</b> {{ page.author }}</p>
            <p><b>Derniere mise à jour :</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <div class="spacing"></div>
        </div>

        <div class="col-lg-8 col-md-7 col-sm-6">
            <h4>Description</h4>
            <div class="hline"></div>

            {% for champ in site.champs-description %}
                {% assign valeurChamp = page.description[champ.name] %}
                {% if valeurChamp %}
                    <p>
                        <b>{{ champ.label }} :</b>
                        {% if champ.format == "liste" %}
                            {% assign elements = valeurChamp | strip | newline_to_br | split: "<br />" %}
                            <ul class="listeElements">
                            {% for element in elements %}
                                <li>{{ element }}</li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            {{ valeurChamp | newline_to_br }}
                        {% endif %}
                    </p>
                {% endif %}
            {% endfor %}

            <div class="spacing"></div>
        </div>
    </div><!--/row -->

    {% if page.collections %}        
    <div class="row">
        <div class="col-lg-12">
            <h4>Collections</h4>
            <div class="hline"></div>
            
            <div class="table-responsive">
                <table class="table table-striped tableCollections">
                    <tr>
                    {% for champ in site.champs-collections %}
                        <th>{{ champ.label }}</th>
                    {% endfor %}
                    </tr>

                    {% for element in page.collections %}
                        <tr>
                        {% for champ in site.champs-collections %}
                            {% assign valeurChamp = element[champ.name] %}
                            <td>
                            {% if valeurChamp %}
                                {% if champ.format == "planche" %}
                                    <div>{{ valeurChamp.numero }}</div>
                                    {% if valeurChamp.miniature %}
                                        <div>
                                            {% if valeurChamp.originale %}
                                                <a href="{{ valeurChamp.originale }}">
                                            {% endif %}
                                                    <img src="{{ valeurChamp.miniature }}" />
                                            {% if valeurChamp.originale %}
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% elsif champ.format == "geo" %}
                                    {% assign mapsLink = valeurChamp | replace: '"','%22' | replace: " ","+" | replace: "O","W" %}
                                    <a href="https://www.google.com/maps/place/{{ mapsLink }}">{{ valeurChamp }}</a>
                                {% else %}
                                    {{ valeurChamp }}
                                {% endif %}
                            {% endif %}
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="spacing"></div>
        </div>
    </div><!--/row -->
    {% endif %}

    {% if page.album-flickr %}
    <div class="row">
        <div class="col-lg-12">
            <h4>Photos</h4>
            <div class="hline"></div>
            <div class="spacing"></div>

            <table class="flickr_badge_wrapper">
                <tr>
                    {% for album in page.album-flickr %}
                    <script type="text/javascript" src="https://www.flickr.com/badge_code_v2.gne?count=1000&display=latest&size=m&source=user_set&set={{ album }}"></script>
                    {% endfor %}
                </tr>
            </table>

            <div class="spacing"></div>
        </div>
    </div><!--/row -->
    {% endif %}

    {% include disqus.md %}
</div><!--/container -->