<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="{{ "/assets/ico/favicon.ico" | prepend: site.baseurl }}" />

        <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet" />
        <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet" />

        <!-- Custom CSS -->
        <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Fixed navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Afficher la navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}">
                        <img src="{{ "/assets/img/FungiQuebec.png"  | prepend: site.baseurl }}" />
                        {{ site.title }}
                    </a>
                </div>
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li {% if page.title == "Accueil" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">ACCUEIL</a></li>
                        <li {% if page.title == "Champignons" %}class="active"{% endif %}><a href="{{"/champignons/" | prepend: site.baseurl }}">CHAMPIGNONS</a></li>
                        <li {% if page.title == "Clés" %}class="active"{% endif %}><a href="{{"/cles/" | prepend: site.baseurl }}">CLÉS</a></li>
                        <li {% if page.title == "Publications" %}class="active"{% endif %}><a href="{{"/publications/" | prepend: site.baseurl }}">PUBLICATIONS</a></li>
                        <li {% if page.title == "À propos" %}class="active"{% endif %}><a href="{{"/apropos/" | prepend: site.baseurl }}">À PROPOS</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        {{ content }}

        <div id="footerwrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>À propos</h4>
                        <div class="hline-w"></div>
                        <p>{{ site.about }}</p>
                    </div>
                    <div class="col-lg-6">
                        <h4>Liens</h4>
                        <div class="hline-w"></div>
                        <p>
                        {% for network in site.social %}
                            <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                        {% endfor %}
                        </p>
                    </div>
                </div><!--/row -->
            </div><!--/container -->
        </div><!--/footerwrap -->

        <script src="{{ "/assets/js/jquery-1.9.1.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script><script>
            $(function () {
                onDomReady();
            });
        </script>

        {% if site.analytics %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ site.analytics }}', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
    </body>
</html>