---
layout: default
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <!-- SINGLE POST -->
        <div class="col-lg-8">
            <!-- Blog Post  -->
            {% if page.img %}
            <p><img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}"></p>
            {% endif %}
            <h3 class="ctitle">{{ page.title }}</h3>
            <p>
                Catégories:
                {% for categorie in page.categories %}
                    <a href="{{ '/categories/#' | prepend: site.baseurl }}{{ categorie }}">{{ categorie | capitalize }}</a>
                    {% if forloop.last == false %}, {% endif %}
                {% endfor %}
            </p>
            <p><csmall>{{ page.date | date_to_string }} | Par: {{ page.author }}</csmall></p>
              
            {{ content }}

            <div class="spacing"></div>
            <!-- <h6>SHARE:</h6>
            <p class="share">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-tumblr"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>		 		
            </p> -->
        </div><!--/col-lg-8 -->
        
        {% include sidebar.html %}

    </div><!--/row -->
</div><!--/container -->